@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.black {
	border:1px solid black;
	background-color: #ffffff;
}
.container .row{
width:90%;
margin:0 auto;
}
.container .row .col-lg-2{
	font-size: 20px;
}
.container .row .col-lg-8{
	font-size: 20px;
}
.Information .container h1{
	font-size:50px;
	transform: uppercase;
	font-weight: 700;
	margin: 0 20px 20px;
	padding: 0 450px;
}
.Information .container h6{
	font-size:20px;
	transform: uppercase;
	font-weight: 700;
	margin: 0 20px 20px;
	padding: 0 450px;
}
.jumbotron{
	padding:1rem;
	border-radius: 0;
	padding-top: 30px;
}
.container-fluid{
	padding-top: 30px;
}
.col-lg-6 .image{
	width:100%;
	display: block;
	flex: 0 0 20%;
	max-width:50%
}
.container-fluid .col-12 h1{
	font-size: 50px;
	font-family: font-family: Blippo, fantasy;
}